{% extends "header-footer.html" %}
{% block content %}  
<script>

  function loginfb(){
    FB.login(function(response) {
      if (response.authResponse) {
        FB.api('/me?fields=email', function(response) {
          dologin(response.email);
        });
      } else {
      console.log('User cancelled login or did not fully authorize.');
      }
    }, {scope: 'public_profile,email,user_friends', return_scopes: true});
  };

  function dologin(email){
    var form = document.createElement("form");
    form.method = 'post';
    form.action = '/login';
    var input = document.createElement('input');
    input.type = "text";
    input.name = "email";
    input.value = email;
    form.appendChild(input);
    input = document.createElement('input');
    input.type = "text";
    input.name = "tipo";
    input.value = "facebook";
    form.appendChild(input);
    form.submit();
  }

  function haslogin(){
    var form = document.createElement("form");
    form.method = 'post';
    form.action = '/login';
    var input = document.createElement('input');
    input.type = "text";
    input.name = "email";
    input.value = "kuberjorg3n@hotmail.com";
    form.appendChild(input);
    input = document.createElement('input');
    input.type = "text";
    input.name = "tipo";
    input.value = "facebook";
    form.appendChild(input);
    form.submit();
  }
</script>

{%if msg%}
<div class="callout alert">
  <p>{{msg}}.</p>
</div>
{%endif%}
<div class="row large-up-3 medium-up-3 small-up-1 columns large-4 medium-6 small-8">
  <form name="login-form" action="/login" method="post">
    <div class="row">
      <div class="small-2 medium-3 large-3 column">
        <label for="middle-label" class="text-right middle">correo</label>
      </div>
      <div class="small-10 medium-9 large-9 column">
        <input type="email" name="email" {%if email%}value="{{email}}"{%endif%}id="middle-label" placeholder="" required>
      </div>
    </div>
    <div class="row">
      <div class="small-2 medium-3 large-3 column">
        <label for="middle-label" class="text-right middle">Contraseña</label>
      </div>
      <div class="small-10 medium-9 large-9 column">
        <input type="password" name="password" id="middle-label" required>
      </div>
    </div>
    <div class="row">
      <div class="expanded input-group-button">
        <input type="submit" class="button" value="Ingresar">
      </div>
    </div>
  </form>
  <div class="row" style="margin-top:20px">
    <div class="small-3 medium-3 large-3 column">
      o bien
    </div>
    <div class="small-9 medium-9 large-9 column" style="margin-right:-10px">
      <div class="secondary button-group">
        <button class="button" onclick="loginfb();">Inicia con fb api</button>
        <button class="button" onclick="haslogin();">Inicia con fb fake</button>
      </div>
    </div>
  </div>
</div>
<br>

<div class="middle" id="now_playing" >
</div>

<script>
  function loadNowPlaying(){
    $("#now_playing").load("/now_playing");
  }
  setInterval(function(){loadNowPlaying()}, 20000);
</script>
{% endblock %}